html {
    font-size: 18px;
    font-family: 'Open Sans', Arial;
    background-color: white;
    box-sizing: border-box;
  }
  #main-doc {
    width: 80vw;
    float: right;
    border-left: 2px solid black;
    padding-left: 15px;
    margin-top: -15px;
    z-index: 1;
    background-color: white;
  }
  #navbar {
    z-index: -1;
    position: fixed;
    width: 18vw;
    height:100%;
    margin: -8px;
    background-color: white;
  }
  @media (max-width: 1200px) {
    #main-doc {
      z-index:-1;
      width:95%;
      border-left: none;
      float: left;
      margin-top: 25vh;
    }
    #navbar {
      z-index: 1;
      width: 100%;
      max-height: 25vh;
      border-bottom: 2px solid black;
      overflow: scroll;
    }
  }
  h1 {
    font-size: 1.1rem;
    margin-left: 5%;
  }
  #navbar ul {
    line-height: 1.8;
    list-style: none;
    margin: 0;
    padding:0;
  }
  #navbar ul li {
    border-top: 2px solid black;
    padding: 8px 0 8px 5%;
  }
  #navbar ul li:last-of-type {
    border-bottom: 2px solid black;
  }
  #Common_tags ul {
    line-height: 1.5;
  }
  img {
    display:block;
    max-width: 90%;
    margin: 0 auto;
    border: 2px solid gray;
  }
  a {
    color: blue;
  }
  .bold {
    font-weight: bold;
  }